@model List<ParcInformatique.Data.Entities.Utilisateur>


@{
    ViewData["Title"] = "Details";
}

<h1>Liste Utilisateurs</h1>

<div>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    LastName
                </th>
                <th>
                    Age
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        <a class="btn btn-Info" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="btn btn-Info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a class="btn btn-Danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                        <a class="btn btn-primary" asp-action="GererEquipementsUser" asp-controller="Equipements" asp-route-id="@item.Id">Gerer Equipements User</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
